/**** Mobile First Media Queries ****/

/*** Up to 5200px 25% ***/
@media only screen and (max-width: 325em) {
  
body {
    font-size: 350%;
} 

#viewport_size {
    height: 43em;
}    
    
#header_photo {
    background-image: url(../images/IMG_0171bw2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 50.38%;
}  
}

/*** Up to 3904px 33% ***/
@media only screen and (max-width: 244em) {
    
body {
     font-size: 260%;
}         
}

/*** Up to 2640px 50% ***/
@media only screen and (max-width: 165em) {
    
body {
     font-size: 175%;
}   
}

/*** Up to 2000px 67% ***/
@media only screen and (max-width: 125em) {
    
body {
     font-size: 130%;
}     
}

/*** Up to 1840px 75% ***/
@media only screen and (max-width: 115em) {
 
body {
     font-size: 115%;
}        
}

/*** Up to 1520px 90% ***/
@media only screen and (max-width: 95em) {
 
body {
     font-size: 95%;
}   
    
#viewport_size {
    height: 50em;
}    
}

/*** Up to 1360px 100% ***/
@media only screen and (max-width: 85em) {
   
body {
    font-size: 87%;
}         
}
    
/*** Up to 1280px 100% ***/    
@media only screen and (max-width: 80em) {
    
body {
    font-size: 92%;
}   
    
#viewport_size {
    height: 46em;
}    
}

/*** Up to 1200px 110% ***/
@media only screen and (max-width: 75em) {
  
body {
    font-size: 87%;
} 
    
#header_photo {
    background-image: url(../images/IMG_0171lg_bw2.jpg);
    padding-bottom: 54.58%;
}    
}

/*** Up to 1120px ***/
@media only screen and (max-width: 70em) {
  
body {
    font-size: 81%;  
}      

#viewport_size {
    height: 46em;
}      
}

/*** Up to 1040px 125% ***/
@media only screen and (max-width: 65em) {
    
body {
     font-size: 75%;
}    
    
#quotation {
    width: 80%;
   
    left: 10%;
}
}

/*** Up to 976px ***/
@media only screen and (max-width: 61em) {
  
body {
    font-size: 69%;
} 
    
 /*  #header_photo {
   background-image: url(../images/IMG_0171sm_bw2.png);
    padding-bottom: 64.33%;
}   */
   
}

/*** Up to 880px 150% ***/
@media only screen and (max-width: 55em) {
  
body {
   font-size: 63%;
}   
    
#viewport_size {
    height: 45em;
  
}     
}

/************ Change Format ************/


/*** Up to 800px 175% ***/
@media only screen and (max-width: 50em) {
 
body {
    font-size: 80%;
}    
    
#top, #bottom, #left, #right { 
    display: none; 
}    
    
#viewport_size {
    height: 42em;
}  
    
#header_photo {
    background-image: url(../images/IMG_0171sm_bw2.png);
    padding-bottom: 64.4%;
}    

#header_menu h2 { 
    width: 60%;
    font-size: 2em;
    text-align: center;
    padding: 0 0 0 1%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.menu {
    display: none;
} 
    
.slicknav_menu {
    display: block;
    position: fixed;
    top: .65em;
    right: 0;
    z-index: 11;
    background-color: transparent;
}
  
#quotation {
    width: 90%;
  
    left: 5%;
}
    
#quotation h1 {
    font-size: 1.4em;
}
    
#scroll {
    display: none;
}
    
#two_images, #three_images, img.contact {
    display: none;
}
  
#row_one, #row_two, #row_three, #row_four, #row_five {
    display: none;
}
      
/* Mobile Pages */
    
#main {
    padding-bottom: 4%;
}
    
#main h1 {
    text-align: center;
    margin: 3% 10% 0 10%;
}
    
#main p, #top_section p {
    width: 90%;
    margin: 4% 5% 2% 5%;
}    
    
h3.full_width {
    width: 96%;
    margin: 0 2%;
}
    
.double_sections, #triple_sections {
    width: 100%;
    margin: 0;
    padding: 0;
}
    
.double_sections a {
    line-height: 2em;
}    

.double_section_left, .double_section_right, .triple_section_left, .triple_section_middle, .triple_section_right {
    width: 90%;
    float: none;
    margin: 0 5%;
    padding: 0;
}
    
.triple_section_left, .triple_section_middle, .triple_section_right {
    padding-bottom: 4%;
}
    
p.bold_title  {
    padding: 10% 0 4% 0;
}    

/* About */

img.about_me {
    width: 35%;
    float: right;
    padding: 6% 10% 2% 2%;
}     
    
/* Resources */
    
.smaller_font {
    padding: 2% 0;
}      

/* Contact */
    
label.less_space {
    margin-top: 0;
}
    
.form input,
.form textarea,
.form select {
	width: 99%;
    margin: 0;
    padding: 0;
}
    
/* Footer */ 
    
#footer {
    height: 25em;
}
    
ul.contact, ul.copyright, ul.codegreer {
    max-width: 100%;
    width: 80%;
    margin: 0 10%;
    float: none;
    position: relative;
    top: 35%;
    transform: translateY(-65%);
    -webkit-transform: translateY(-65%);
}
    
ul.contact li {
    padding: 2% 0;
    font-size: 2em;
}
    
ul.copyright li, ul.codegreer li {
    font-size: 1.4em;
    padding: 3% 0;
}    
}

/*** Up to 720px ***/
@media only screen and (max-width: 45em) {
 
body {
    font-size: 80%;
}     
}

/*** Up to 640px ***/
@media only screen and (max-width: 40em) {
    
body {
    font-size: 80%;
}       
}

/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
  
body {
    font-size: 80%;
}  
     
#header_photo {
    background-image: url(../images/IMG_0171sm_bw2.jpg);
    padding-bottom: 120%;
}   
    
#quotation {
    width: 90%;

    left: 5%;
}    
    
#quotation h1 {
    font-size: 1.45em;
}    
}

/*** Up to 480px ***/
@media only screen and (max-width: 30em) {
    
body {
    font-size: 80%;
}      
    
/* About */

img.about_me {
    width: 90%;
    float: none;
    padding: 0;
    margin: 0 5%;
}    
}

/*** Up to 400px ***/
@media only screen and (max-width: 25em) {

body {
    font-size: 77%;
}        
}

/*** Up to 336px ***/
@media only screen and (max-width: 21em) {
   
body {
    font-size: 65%;
}   
}

/*** Up to 256px ***/
@media only screen and (max-width: 16em) {
   
body {
    font-size: 60%;
}   
}

/*** Up to 224px ***/
@media only screen and (max-width: 14em) {

body {
    font-size: 50%;
}      
}