/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* All of your setup and non media query CSS */

@font-face {
  font-family: 'Courgette';
  src: url(../fonts/Courgette-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'LatoBold';
  src: url(../fonts/Lato-Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'LatoItalic';
  src: url(../fonts/Lato-Italic.ttf) format('truetype')
}

/* General Styles */

html {
    font: normal 100% 'Lato', sans-serif;
    height: auto;
}

body {
    font-size: 100%;
    color: #4E565D;
    line-height: 1.625; /* 26px */
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header_offset, nav, nav ul, #quotation, .two, .three, footer nav {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

nav ul {
    justify-content: space-around;
    align-items: center;
    margin: 0 5%;
    flex: 1;
}

nav ul li {
    font-size: 1.25em;
    list-style-type: none;
    padding: 1em 0;
    letter-spacing: .05em;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 1.8em;
    color: #A59DE9;
}

h2 {
    font-size: 2em;
}

h3 {
    font-family: 'Courgette', cursive;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    text-align: center;
    background-color: #A59DE9;
    box-shadow: .15em .2em .25em #9F9F9F;
}

img {
    max-width: 100%;
    align-self: center;
}

p, h4 {
    font-size: 1.5em;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.bold {
    font-family: 'LatoBold', sans-serif;
}

.italic {
    font-family: 'LatoItalic';
}

.center {
    text-align: center;
}

.full_width {
    width: 80%;
    margin: 0 auto;
}

/* Borders */

#top, #bottom, #left, #right {
	background-color: #F7F7F7;
	position: fixed;
    z-index: 11;
}
	
#left, #right {
    top: 0; bottom: 0;
	width: .5em;
}
		
#left { 
    left: 0; 
}

#right { 
    right: 0; 
}
		
#top, #bottom {
    left: 0; right: 0;
    height: .5em;
}
		
#top { 
    top: 0; 
}

#bottom { 
    bottom: 0; 
}


/* Header */ 

header {
    width: 100%;
    height: auto;
    position: relative;
}

header img {
    width: 100%;
}

#quotation {
    position: absolute;
    bottom: 5%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#quotation h1 {
    width: 80%;
}

#quotation a.button {
    margin-top: 2%;
    padding: 1.5% 2.5%;
    border-radius: 10px;
    background-color: #A59DE9;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    border: 1px solid #A59DE9;
}

#quotation a.button:hover, #quotation a.button:focus {
    background-color: #694199;
    border: 1px solid #694199;
}

#home-header {
    background-color: #000;
}

.header_offset {
    width: 100%;
    height: 7em;
    position: relative;
    background-color: #000;
}

.title {
    display: none;
}


/* Menu */ 

header nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.9);
    color: #A59DE9;
}

#navigation h2, .title {
    font-family: 'Courgette', cursive;
    padding: 0 1em 0 0;
}

#navigation > ul {
    align-items: center;
}

.menu-toggle,
.main-menu .menu-close {
    display: none;
}
  
.main-menu a:hover,
.main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #F7F7F7; 
    text-decoration: underline;
}

.main-menu h2 a:hover {
    color: #A59DE9;
    text-decoration: none;
}

.main-menu .menu-close {
    text-decoration: none !important;
}


/* Main */

main {
    margin: 1em 0;
    flex: 1;
}

main h2 {
    margin: 0 9%;
}

main p {
    width: 80%;
    margin: 1em auto;
}

a.underline {
    text-decoration: underline;
}

main div {
    margin: 0 10%;
    justify-content: space-between;
}

.two img, .two section {
    width: 48%;
    margin-bottom: 1em;
}

.three {
    flex-flow: wrap;
}

.three section, .three img {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.three img { 
    margin-bottom: 1em;
}

.three section p, .two section p {
    width: 100%;
}
  
p.more, p.client {
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    margin-top: auto;
}

.more:hover, .more:focus, .underline:hover, .underline:focus {
    color: #694199; 
    text-decoration: underline;
}

ul.support_areas {
    font-size: 1.25em;
    list-style: none;
    text-align: center;
}

a.bar_link:link {color: #000000;}  
a.bar_link:visited {color: #000000;}  
a.bar_link:hover {color: #000000; border-bottom: none;}  
a.bar_link:active {color: #000000;}


/* Offerings */

p.service_offered, h4 {
    font-family: 'LatoBold', sans-serif;
    padding-top: 1em;
}

/* About */

img.about_me {
    width: 20%;
    float: right;
    padding: 0 10% 2% 2%;
}

.clear {
    padding-bottom: 25em;
}

#classes ul {
    list-style-type: disc;
    width: 70%;
    margin: 0 15%;
    font-size: 1.5em;
}

/* Resources */

.smaller_font {
    font-size: 1.2em;
}

a.resource_link:link {color: #4E565D;}  
a.resource_link:visited {color: #4E565D;}  
a.resource_link:hover {color: #694199; text-decoration: underline}  
a.resource_link:active {color: #4E565D;}

/* Contact */

img.contact {
    max-width: 100%;
    width: 30%;
    float: left;
    padding: 2% 2% 0 0;
}


/* Footer */ 
  
footer {
    color: #A59DE9;
    background-color: #000000;
}

footer nav ul {
    flex-flow: wrap;
}

footer nav ul li {
    font-size: 1em;
    padding: 3em 0;
    text-align: center;
}


/**************** Mobile First Media Queries ****************/

/*** Up to 5200px ***/
@media only screen and (max-width: 325em) {
  
    body {
        font-size: 350%;
    }    
}

/*** Up to 3904px ***/
@media only screen and (max-width: 244em) {
    
    body {
         font-size: 260%;
    }         
}

/*** Up to 2640px ***/
@media only screen and (max-width: 165em) {
    
    body {
         font-size: 175%;
    }   
}

/*** Up to 2000px ***/
@media only screen and (max-width: 125em) {
    
    body {
         font-size: 130%;
    }     
}

/*** Up to 1840px ***/
@media only screen and (max-width: 115em) {
 
    body {
         font-size: 115%;
    }        
}

/*** Up to 1520px ***/
@media only screen and (max-width: 95em) {
 
    body {
         font-size: 95%;
    }    
}

/*** Up to 1360px ***/
@media only screen and (max-width: 85em) {
   
    body {
        font-size: 87%;
    }         
}
    
/*** Up to 1280px ***/    
@media only screen and (max-width: 80em) {
    
    body {
        font-size: 92%;
    }      
}

/*** Up to 1200px ***/
@media only screen and (max-width: 75em) {
  
    body {
        font-size: 87%;
    } 
}

/*** Up to 1120px ***/
@media only screen and (max-width: 70em) {
  
    body {
        font-size: 81%;  
    }       
}

/*** Up to 1040px ***/
@media only screen and (max-width: 65em) {
    
    body {
         font-size: 75%;
    }    
}

/*** Up to 976px ***/
@media only screen and (max-width: 61em) {
  
    body {
        font-size: 69%;
    } 
}

/*** Up to 880px ***/
@media only screen and (max-width: 55em) {
  
    body {
       font-size: 63%;
    }         
}

/************ Change Format ************/


/*** Up to 800px 175% ***/
@media only screen and (max-width: 50em) {
 
    body {
        font-size: 80%;
    }   
    
    .full_width {
        width: 90%;
    }

    #top, #bottom, #left, #right { 
        display: none; 
    } 
    
/* Header */
    
    #home-header {
        background-color: #000;
        padding-top: 1.4em;
    }
    
    .header_offset {
        justify-content: space-between;
        align-items: center;
    }
    
    .title {
        display: block;
        color: #A59DE9;
        padding-left: 5%;
    }
    
    #quotation {
        bottom: 5%;
    }
    
    #quotation h1 {
        width: 90%;
        font-size: 1.25em;
    }


/* Navigation */
    
    .menu-toggle {
        display: inline-block;
        padding: 2% 5%;
        line-height: 1em;
        font-size: 3em;
        color: #A59DE9 !important;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #694199 !important;
    }  
    
    .index-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    header nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 40%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 10;
    }
    
    #navigation h2 {
        font-size: 0em;
    }

    .main-menu ul {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 25% 0 0 10%;
        background-color: #000;
    }

    .main-menu a {
        display: block;
        padding: 1em;
        line-height: 1em;
        font-size: 1.25em;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        text-decoration: underline;
        color: #FFF;
    }

    .main-menu .menu-close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 3em;
        padding: 1;
    }

    .main-menu:target {
        left: 0%;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close {
        z-index: 12;
    }

    .main-menu:target ul {
        z-index: 11;
    }
    
    .main-menu:target + .backdrop {
        position: absolute;
        display: block;  
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 9;
        background: rgba(0,0,0,0.5);
        cursor: default;
    }
    
/* Main */

    main h2, main div {
        margin: 0 5%;
    }

    main p {
        width: 90%;
    }

    main div {
        flex-flow: wrap;
        margin: 0 5%;
    }

    .two section, .three section {
        width: 100%;
    }
    
/* About */

    img.about_me {
        width: 30%;
        padding: 2% 5% 2% 2%;
    }  
    
    .clear {
        padding-bottom: 30em;
    }

/* Contact */

    label.less_space {
        margin-top: 0;
    }


/*** Up to 720px ***/
@media only screen and (max-width: 45em) {
 
    body {
        font-size: 80%;
    }     
}

/*** Up to 640px ***/
@media only screen and (max-width: 40em) {
    
    body {
        font-size: 80%;
    }       
}

/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
  
    body {
        font-size: 90%;
    } 
    
    #home-header {
        height: 26em;
        background-color: #000;
        padding-top: 1em;
    } 
    
    header nav {
        width: 75%;
    }
    
    #quotation h1 {
      
    }
    
    .three img, .two img {
        display: none;
    }
    
/* About */

    img.about_me {
        width: 90%;
        float: none;
        padding: 0;
        margin: 0 5%;
    }  
    
    .clear {
        padding-bottom: 5em;
    }
    
/* Footer */ 

    footer nav ul li {
        font-size: 1.25em;
        padding: 2em 0;
    } 
    
    .order {
        order: 2;
    }
}

/*** Up to 480px ***/
@media only screen and (max-width: 30em) {
    
    body {
        font-size: 90%;
    }      
}

/*** Up to 400px ***/
@media only screen and (max-width: 25em) {

    body {
        font-size: 85%;
    } 
    
/* Footer */ 

    footer nav ul li {
        font-size: 1em;
    }        
}

/*** Up to 336px ***/
@media only screen and (max-width: 21em) {
   
    body {
        font-size: 85%;
    }  
    
/* Footer */ 

    footer nav ul li {
        font-size: 1em;
    }     
}

/*** Up to 256px ***/
@media only screen and (max-width: 16em) {
   
    body {
        font-size: 70%;
    }   
}

/*** Up to 224px ***/
@media only screen and (max-width: 14em) {

    body {
        font-size: 60%;
    }      
}