.form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.form:before, 
.form:after { 
	content: " "; display: table; 
}

.form:after { 
	clear: both; 
}

.column {
	width: 100%;
}

.form label {
	display: block;
	padding: 1em 0 0 .2em;
	cursor: pointer;
}

label.less_space {
    margin-top: 1em;
    padding-top: 0;
}

.form input,
.form textarea,
.form select {
    font-family: 'Lato', sans-serif;
	line-height: 1.5em;
	font-size: 1.4em;
	padding: .2em .5em;
	color: #000000;
	display: block;
	width: 90%;
	background: transparent;
    border: .2em solid #A59DE9;
}

.form input,
.form textarea {
	border: .2em solid #A59DE9;
}

.form textarea {
	min-height: 15em;
}

.form input:focus,
.form textarea:focus,
.form label:active + input,
.form label:active + textarea {
	outline: none;
	border: .2em solid #694199;
}

.form select:focus {
	outline: none;
}

.submit-wrap {
	text-align: center;
	padding-top: 3em;
	clear: both;
}

.form input.submit {
	background: #A59DE9;
	border: none;
	color: #000000;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 1em 2em;
	font-size: 1.1em;
	border-radius: .1em;
	letter-spacing: .05em;
}

.form input.submit:hover {
	background: #694199;
}