/* All of your setup and non media query CSS */

html {
    font: normal 100% 'Vollkorn', serif;
    height: auto;
}

body {
    font-size: 100%;
    line-height: 1.625; /* 26px */
    height: auto;
}

#container {
    max-width: 105em;
    width: 100%;
    margin: 0 auto;
}


/* Header */

#static_header {
    height: 6em;
}

.sticky {  
    position: fixed; 
    width: 100%;  
    top: 0;  
    z-index: 100;  
    border-top: 0; 
    background-color: #fff;
} 

#header_mobile {
    display: none;
}

#header {
    max-width: 105em;
    width: 100%;
    margin: 0 auto;
    height: 6em;
    overflow: hidden;   
}

#header_mobile h1 {
    font-size: 5em; 
    font-family: 'Dancing Script', cursive;
    letter-spacing: -.01em;
    text-align: center;
}

h1.header_initials {
    font-size: 3.7em; 
    font-family: 'Dancing Script', cursive;
    letter-spacing: -.01em;
    width: 25%;
    float: left;
    padding-left: 3%;
}    

h1.header_initials_contact {
    font-size: 1.2em; 
    font-family: 'Dancing Script', cursive;
    letter-spacing: -.01em;
    width: 25%;
    float: left;
    padding-left: 3%;
    margin-top: 2%;
}    

span.blue {
    color: #20394C;
}

span.green {
    color: #319E75;
}


/* Menu */ 

#menu {
    max-width: 105em;
    width: 45%;
    height: auto;
    margin: 2.5% auto 0 5%;
    float: left;
} 

ul.menu {
    max-width: 105em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

li.menu {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .05em;
    width: 20%;
    display: inline-block;
    padding: .4% 1% 0 1%;
    list-style-type: none; 
}

a.menu:link {color: #20394C; text-decoration: none;} 
a.menu:visited {color: #20394C;}  
a.menu:hover {color: #319E75; border-bottom: .1em dotted #B5918A;}  
a.menu:active {color: #20394C;}  

a.active {
    border-bottom: .1em dotted #B5918A;
}


/* Top*/

#top {
    max-width: 105em;
    width: 100%;
    height: 39em;
    margin: 0 auto 1% auto;
    position: relative;
    z-index: -1;
}

#top img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

h2.tagline {
    width: 20%;
    font-size: 3.7em;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    color: #20394C;
    text-align: center;
    position: absolute;
    float: right;
    top: 31%;
    transform: translateY(-31%);
    left: 57%;
    border: .1em solid #20394C;
}  


/* Main */

p {
    font-size: 1.4em;
    font-weight: 400;
    color: #20394C;
    width: 100%;
    text-align: left;
    padding: 1% 0 2% 0;
} 

p.italic {
    font-style: italic;
}

a.contact_form_link {
    color: #20394C;
    text-decoration: none;
    border-bottom: .08em dotted #B5918A;
}

a.contact_form_link:hover {
    color: #319E75;
    border-bottom: .08em dotted #B5918A;
}
     

/* Sections */
    
#home, #contact_hidden, #work, #about {
    max-width: 105em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}  

/* Home */

#home_left {
    width: 50%;
    margin: 0 auto;
    float: left;
    padding: 0 2.5% 0 5%;
    position: relative;
    overflow: hidden;
}

h3.home_greeting {
    font-size: 2em; 
    text-align: center;
}

#home_right{
    width: 50%;
    margin: 0 auto;
    float: left;
    padding: 0 5%;
}

img.home_photo {
    max-width: 100%;
    width: 100%;
}

/* Contact */

#contact_hidden {
    width: 90%;
    margin: 2.5% 5% 0 5%;
}

#content, #testimonial_content {
    display: none;
}

h3.contact_me, h3.testimonials {
    max-width: 100%;
    width: 100%;
    font-size: 2em; 
    text-align: center;
}

#border {
    margin-bottom: 2.5%;
    border: .08em solid #20394C;
    overflow: hidden;
}

a.alt_contact {
    text-decoration: none;
}

a.alt_contact {
    color: #20394C;
    text-decoration: none;
    border-bottom: .08em dotted #B5918A;
}

a.alt_contact:hover {
    color: #319E75;
    border-bottom: .08em dotted #B5918A;
}

/* Contact Form */

.cg_form {
	position: relative;
    width: 45%;
    float: left;
    margin: 0 2.5% 2.5% 2.5%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cg_form:before, 
.cg_form:after { 
	content: " "; display: table; 
}

.cg_form:after { 
	clear: both; 
}

.name_and_email {
    width: 100%;
	padding: .5em 1em;
	float: left;
}

.tell_me_input {
    width: 100%;
	padding: .5em 1em;
	float: left;
}

.cg_form label {
    font-size: 1.4em;
    font-weight: 400;
	display: block;
	padding: 1em 0 0 0;
	cursor: pointer;
}

.cg_form input,
.cg_form textarea,
.cg_form select {
    font-size: 1em;
	padding: .5em 1em;
	color: #20394C;
	display: block;
	width: 100%;
	background: transparent;
}

.cg_form textarea {
	min-height: 15em;
}

/* .cg_form input,
.cg_form textarea {
	border: .1em solid #20394C;
}

.cg_form input:focus,
.cg_form textarea:focus,
.cg_form label:active + input,
.cg_form cg_form label:active + textarea {
	outline: none;
	border: .1em solid #319E75;
} */

.cg_form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #20394C;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #20394C;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #20394C;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #20394C;
}

.cg_submit_wrap {
	text-align: left;
	padding-top: 2%;
    margin: 0 0 0 2.5%;
	clear: both;
}

.cg_form input.cg_submit {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
    font-weight: 700;
	color: #B5918A;
	background: #20394C;
	border: none;
	width: auto;
	cursor: pointer;
	display: inline-block;
	padding: .5em 1em;
	border-radius: .1em;
}

.cg_form input.cg_submit:hover {
	background: #319E75;
    color: #20394C;
}

p.message_sent {
    font-size: 1.4em;
    font-weight: 400;
    color: #20394C;
    margin-left: 5%;
}

#rates {
    position: relative;
    width: 45%;
    float: right;
    margin: 2.5%;
}

#rates ul {
    width: 100%;
    margin: 0 auto;
    padding-top: 6%;
}

#rates ul li {
    font-size: 1.4em;
    font-weight: 400;
    list-style-type: square;
    padding-bottom: 1em;
}

/* Contact.php */

#contact_form {
    max-width: 105em;
    width: 90%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#border_2 {
    max-width: 105em;
    width: 90%;
    margin: 0 auto;
    border: .08em solid #20394C;
    overflow: hidden;
}


/* Work */

#work {
    margin-bottom: 5%;
}

/* Code modified from Codrops
http://tympanus.net/codrops/2013/06/18/caption-hover-effects/ - Effect #4 */ 

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
    
a.link:link {color: #319E75; text-decoration: underline;}    
a.link:visited {color:#319E75;}  
a.link:hover {color:#20394C;}  
a.link:active {color:#319E75;}  

h3.featured_work {
    font-size: 2em; 
    text-align: center;
}


/* About */

#about {
    padding: 3% 0;
    background-color: #20394C;
}

#about_left {
    width: 50%;
    margin: 0 auto;
    float: left;
    padding: 0 2.5% 0 5%;
}

#about_right {
    width: 50%;
    margin: 0 auto;
    float: left;
    padding: 0 5% 0 2.5%;
}

#about p {
    color: #B5918A;
    opacity: .9;
}

#about p.right {
    padding-top: .3em; 
}

p.about_mobile {
    display: none;
}

a.testimonial_link {
    color: #B5918A;
    text-decoration: none;
    border-bottom: .08em dotted #B5918A;
}

a.testimonial_link:hover {
    color: #319E75;
    border-bottom: .08em dotted #B5918A;
}

   
/* Testimonials */

#testimonials_hidden {
    width: 90%;
    margin: 2.5% 5% 0 5%;
}

#test_left {
    max-width: 50%;
    width: 47.5%;
    float: left;
    margin: 0 auto;
    padding: 2.5% 2.5% 1% 2.5%;
    border: .08em solid #20394C;
}

#test_right {
    max-width: 50%;
    width: 47.5%;
    float: right;
    margin: 0 auto;
    padding: 2.5% 2.5% 1% 2.5%;
    border: .08em solid #20394C;
}

p.test_right {
    text-align: right;
}

/* Footer */ 

#push {
    max-width: 105em;
    width: 100%;
    height: 0;
    margin: 0 auto;
}
    
#footer{
    max-width: 105em;
    width: 100%;
    height: 5em;
    margin: 0 auto;
    overflow: hidden;
}

#footer ul, ul.copyright {
    max-width: 50%;
    width: 50%;
    float: left;
    list-style-type: none;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-60%);
}

li.social_media {
    display: inline;
    padding: 0 5%;
    font-size: 1.2em;
    font-weight: 400;
    color: #20394C;
}

li.social_media a:link {color: #20394C; text-decoration: none;}  
li.social_media a:visited {color:#20394C;}  
li.social_media a:hover {color:#319E75; border-bottom: .08em dotted #B5918A;}  
li.social_media a:active {color:#20394C;}

ul.copyright li {
    display: inline;
    padding: 0 5%;
    font-size: 1em;
    font-weight: 400;
    color: #20394C;
}